.bg-accent {
    background:var(--accent-primary);

    &-secondary {
        background:var(--accent-secondary);
    }
}
.grecaptcha-badge {
    display: none !important;
}
// .bg-accent-secondary {
//     background:var(--accent-secondary);
// }